<header>
  <div class="navleft">
    <div class="header_title">
      ASDF
    </div>
  </div>
  <div class="navright">

      <p class="navitem" >Sign up</p>
      <p class="navitem" >Log in</p>
      <p class="navitem" >ASDF</p>
  </div>


</header>
