<header>
  <div class="navleft">
    <%= link_to 'Micro-Reddit!', root_path, class: 'header_title' %>
  </div>
  <div class="navright">

    <% if logged_in? %>
      <%= link_to 'Log out', logout_path, method: :delete, class: "navitem" %>
    <% else %>
      <%= link_to 'Sign up', signup_path, class: "navitem" %>
      <%= link_to 'Log in', login_path, class: "navitem" %>
    <% end %>
  </div>


</header>
